<div>
  <h1>Pups deserve the best</h1>
  <!-- <button type ="submit" class="btn btn-lg btn-outline-primary" (click)="openModal()">Login</button> -->
</div>

<div class="container">
  <div class="row w-100 h-25" id="top"></div>
  <div class="row w-100 h-75" id="bottom"></div>
</div>

<div *ngIf="stores" class="my-5 text-center">
  <div class="card-columns mr-auto mt-4 ">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top img-fluid"
            src="https://images.unsplash.com/photo-1582902904617-8915e59fa2b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">{{ stores[0].name }}</h4>
            <p class="card-text">About Store</p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary mb-2">
              More Details
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top img-fluid"
            src="https://images.unsplash.com/photo-1582902904617-8915e59fa2b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">{{ stores[1].name }}</h4>
            <p class="card-text">About Store</p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary mb-2">
              More Details
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img-top img-fluid"
            src="https://images.unsplash.com/photo-1582902904617-8915e59fa2b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">{{ stores[2].name }}</h4>
            <p class="card-text">About Store</p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary mb-2">
              More Details
            </button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<div *ngIf="products" class="container my-0 justify-content-center d-flex flex-row">
  <div class="container-fluid py-2">
    <div class="slider-wrap d-flex justify-content-center flex-row">
      <div class="slider-main">
        <div class="item text-center" *ngFor="let product of products">
          <div class="text">
            <img
              style="width: 140px; height: 120px"
              src="{{ product.image }}"
            />
            <p>{{ product.name }}</p>
          </div>
        </div>
      </div>
      <div class="button-area">
        <button class="btn btn-sm btn-info prev" appPrev>Prev</button>
        <button class="btn btn-sm btn-info next" appNext>Next</button>
      </div>
    </div>
  </div>
</div>
