main {
  /* background-image: url("https://img.freepik.com/free-photo/adorable-white-bulldog-puppy-portrait_53876-64846.jpg?w=1060&t=st=1664270050~exp=1664270650~hmac=30da57291c27b098554723168b3993e7706959c418aec298c8452c18f3e3d602"); */
  background-color: white;
}
.containers {
  width: 90%;
  margin: 0 auto;
}
/* main, .wrapper {
  position: relative;
} */

.partners img {
  transition: all .3s ease;
}

.partners img:hover{
  box-shadow: 0 0 10px 1px #dbdbdb;
}
/*
.containers {
  position: absolute;
} */

#top{
  background-color: gray;
}

#bottom {
  background-color: azure;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 250px;
  /* right: 100px; */
  left: 150px;
  margin-right: 300px;
  padding: auto;
}

.slider-main {
  /* position: absolute; */
  width: 200%;
  margin-right: 2px

}

.item {
  display: inline-block;
  width: 150px;
  height: 250px;
  position: relative;
  margin: 0 12px;
}

.text {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  text-align: center;
  font-weight: bolder;

}

.prev {
  position: absolute;
  left: 33px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button-area {
  margin-right: 5px;
}
.next {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-right: 10px;
}

.slider-wrap-footer {
  position: relative;
  overflow: hidden;
  height: 110px;
  /* right: 100px; */
  left: 150px;
  margin-right: 300px;
  padding: auto;
}

.item-footer {
  display: inline-block;
  width: 90px;
  height: 110px;
  position: relative;
  margin: 0 12px;
}

.text-footer {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  font-weight: bolder;

}

.store:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}

/* .box {
  background: green;
  width: 200px;
  height: 200px;
position: relative;
animation-name: myanimation;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-delay: 2s;
animation-direction: reverse;
} */

@keyframes myanimation {
  /* 0% {background-color: red; left: 0px; top:0px; border-radius: 0 0 0 0;}
  25% {background-color: green; left: 300px; top:300px; border-radius: 0 0 0 0;}
  75% {background-color: green; left: 300px; top:300px; border-radius: 0 0 0 0;}
100% {background-color: blue; left: 0px; top:0px; border-radius: 0 0 0 0;} */
from {
  transform: translateX(0%);
}

to {
  transform: translateX( 50% 100%);
}
}

.textAnimated {
  position: relative;
  -webkit-text-stroke: 0.3vw #329d52;
  text-transform: uppercase;
  color: green;
  justify-content: center;
}

.textAnimated::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: green;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}


.wrapper{
  box-sizing: content-box;
  background-color: #ffffff;
  height: 70px;
  padding: 50px 30px;
  display: flex;
  border-radius: 8px;
  /* box-shadow: 0 20px 25px rgba(0,0,0,0.2); */
  font-family: "Poppins",sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}
.words{
  overflow: hidden;
}
span{
  display: block;
  height: 100%;
  padding-left: 10px;
  color: #0e6ffc;
  animation: spin_words 6s infinite;
}
@keyframes spin_words{
  10%{
      transform: translateY(-112%);
  }
  25%{
      transform: translateY(-100%);
  }
  35%{
      transform: translateY(-212%);
  }
  50%{
      transform: translateY(-200%);
  }
  60%{
      transform: translateY(-312%);
  }
  75%{
      transform: translateY(-300%);
  }
  85%{
      transform: translateY(-412%);
  }
  100%{
      transform: translateY(-400%);
  }
}

#site-content {
	min-height: 100%;
	min-height: 100vh;
	padding-top: 65px;
	position: relative;
	z-index: 1;

	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;

}

#site-footer {
	padding: 25px 0;
	font-size: 85%;
	background-color: #2A2A2A;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}
/*
/* NOT NEEDED, THIS IS JUST FOR THE PEN */
@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css); */

html, body {
	padding: 0;
	margin: 0;
	background-color: #D1D1D1;
}
#site-content {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('http://dummyimage.com/3000x3000/D1D1D1/2A2A2A.png?text=Scroll+Down');
}

#site-footer {
	min-height: 20vw;
	/* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
	/* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
	background-size: cover;
	background-position: center;
	background-image: url('http://dummyimage.com/1500x1500/2A2A2A/FFF.png?text=Footer+Area+(Resize+Me)');
}


