/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.accordion-button{
  font-size: 20px !important;
  color: white !important;
  font-weight: bold;
  font-family: arial;
  /* background-color: rgb(49, 86, 92) !important; */
  background-color: rgba(17, 87, 77, 0.255) !important;


  border-color: white !important;
  caret-color: white !important;
}

.accordion-button:hover {
  background-color: rgb(49, 86, 92) !important;
}

body {
  /* background-color: rgb(108, 132, 136); */
  background-color: rgba(138, 217, 231, 0.255);

}

.container-fluid {
  padding-left:0px;
  padding-right:0px
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
