<div class="container-fluid">
  <div *ngIf="!storeComments">
    <div *ngFor="let store of stores">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ store.name }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="commentsByStore(store)">
                Details
              </button>
              <button ngbDropdownItem>
                Address: {{ store.address?.address }},
                {{ store.address?.city }}, {{ store.address?.state }}
                {{ store.address?.postalCode }}
              </button>
              <button ngbDropdownItem>
                Contact: {{ store.address?.phone }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="store.products">
        <div class="d-flex flex-row">
          <div class="m-2" *ngFor="let product of store.products">
            <img
              style="width: 140px; height: 120px"
              src="{{ product.image }}"
            />
            <p>{{ product.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="storeComments && products">
    <div class="row">
      <div class="col-sm-8">
        <h1>{{selectedStore.name}}</h1>
        <div *ngFor="let comment of storeComments">
          <h5>{{ comment.user?.username }}</h5>
          <ngb-rating [max]="5" [(rate)]="comment.rating" [readonly]="true">
            <ng-template let-fill="fill">
              <span
                class="star"
                [ngClass]="'color' + comment.rating"
                [class.filled]="fill === 100"
                >&#9733;</span
              >
            </ng-template>
          </ngb-rating>
          <p>{{ comment.title }}</p>
        </div>
        <!-- form to create store comment -->
        <form *ngIf="newComment">
          <h4>Leave Comment:</h4>
          <div class="rating">
            <ngb-rating
              [max]="5"
              [(rate)]="newComment.rating"
              [readonly]="false"
            >
              <ng-template let-fill="fill">
                <span
                  class="star"
                  [ngClass]="'color' + newComment.rating"
                  [class.filled]="fill === 100"
                  >&#9733;</span
                > </ng-template
              >>
            </ngb-rating>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend"></div>
            <input
              class="form-control"
              id="reviewBox"
              type="text"
              required
              name="title"
              style="height: 100px; margin: 5px"
              placeholder="Write review comment here"
              [(ngModel)]="newComment.title"
            />
            <input type="hidden" name="store" [(ngModel)]="newComment.store"/>
            <input type="hidden" name="user" [(ngModel)]="newComment.user"/>

          </div>
          <div class="d-flex justify-content-end m-1">
            <button
              (click)="createStoreComment(selectedStore, newComment)"
              type="submit"
              class="btn btn-warning"
              data-toggle="button"
              aria-pressed="false"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-sm-4 mt-3">
        <h3>Products:</h3>
        <div *ngFor="let product of products">
          <img style="width: 140px; height: 120px" src="{{ product.image }}" />
          <p>{{ product.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
