


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/home">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxW4Yt9qul9aoO5UoU7FN_SNn0yVGe4OwAvg&usqp=CAU"
        width="50" height="50" class="d-inline-block align-top" alt="">
      DoggieDelights <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']"> Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/search']"> Search By Map</a>
        </li>
        <div *ngIf="loggedInUser?.role === 'admin'">
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/user']"> User</a>
        </li>
      </div>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/store']"> Store </a>
        </li>
        <!-- <li class="nav-item" *ngIf="! loggedIn()">
          <a  class="nav-link"[routerLink]="['/register']"> Register </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/notTodayWillis']"> NotFound </a>
        </li>
        <!-- <li class="nav-item" *ngIf="!loggedIn()">
          <app-login></app-login>
        </li> -->
        <!-- <li  *ngIf="loggedIn()">
          <app-logout></app-logout>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="navbar-nav ms-auto" *ngIf="!loggedIn()">
    <a type="button"  class="nav-link"[routerLink]="['/register']"> Register </a>
  </div>
  <div class="navbar-nav ms-auto" *ngIf="!loggedIn()"> <app-login></app-login></div>
  <div class="navbar-nav ms-auto" *ngIf="loggedIn()">
    <div class="col">
      <a class="nav-link text-dark" [routerLink]="['/profile']"> <mat-icon>person</mat-icon>
        {{loggedInUser?.username}} </a>
    </div>
    <div class="col">
      <app-logout></app-logout>
    </div>
  </div>
</nav>
<!-- <span class="material-icons md-dark">face</span> -->
