input {
  margin: 3px;
  align-items: right;
}

label {
  width: 80px;
}

.btn {
  text-align: center;
  margin-left:50px;
  margin: 10px;
  color: darkslateblue;
  font-weight: bold;
  background-color:gainsboro;
  border-color: black;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
