<main class="contqainer">
  <h1 style="text-align: center;">The Specter Selecter</h1>

  <!-- TODO: Sort Reports by Date - first 3? 5? -->
  <!-- TODO: Product card stretches to match number of Reports... -->
  <!-- TODO: No two-way binding on edit cancel -->
  <!-- TODO: Are you sure pop-up on delete -->
  <!-- TODO: Button positioning, alignment, and color -->

  <!-- *** All Products *** -->
  <div class="container" *ngIf="showAll && !detailProduct && !editProduct && !newProduct && !newReport">
    <button (click)="newProduct = getNewProduct(); showAll = false" class="btn btn-outline-primary btn-sm">
      Add a New Product
    </button>
    <div *ngFor="let product of products">
      <div *ngIf="product.enabled">
        <div class="card" (click)="displayProduct(product)">
          <div class="row card-body vertical-center">
            <div class="col">
              <h4>{{product.name}}</h4>
            </div>
            <div class="col">
              <h5>{{product.brand}}</h5>
            </div>
            <div class="col">
              <img src="{{product.image}}" class="rounded float-end prodList thumbnail" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *** Add Product *** -->
  <div class="container d-flex justify-content-center" *ngIf="newProduct">
    <div class="row center">
      <div class="card col" style="width: 25rem;"><br>
        <!-- <img src="{{newProduct.image}}" class="rounded mx-auto d-block cardImage" alt="..."> -->
        <form>
          <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input [(ngModel)]="newProduct.name" type="text" class="form-control" id="nameInput" name="name"
              aria-describedby="nameHelp" placeholder="Name...">
          </div>

          <div class="mb-3">
            <label for="brandInput" class="form-label">Brand</label>
            <input [(ngModel)]="newProduct.brand" type="text" class="form-control" id="brandInput" name="brand"
              aria-describedby="brandHelp" placeholder="Brand...">
          </div>

          <div class="mb-3">
            <label for="descriptionInput" class="form-label">Description</label>
            <textarea [(ngModel)]="newProduct.description" class="form-control" id="descriptionInput" rows="3"
              name="description" placeholder="Description..."></textarea>
          </div>

          <div class="mb-3">
            <label for="imageInput" class="form-label">Image URL</label>
            <input [(ngModel)]="newProduct.image" type="text" class="form-control" id="imageInput" name="image"
              aria-describedby="imageHelp" placeholder="URL...">
          </div>

          <button (click)="addProduct(newProduct); newProduct = null; showAll = true" type="button"
            class="btn btn-outline-primary btn-sm">Submit
          </button>

          <button (click)="newProduct = null; showAll = true" type="button" class="btn btn-light btn-sm">Back
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- *** Single Product Detail with Reports *** -->
  <div class="container text-center d-flex justify-content-center">
    <div class="row center">

      <div class="card col" *ngIf="detailProduct && !newReport"><br>
        <img src="{{detailProduct.image}}" class="rounded mx-auto d-block cardImage" alt="...">
        <div class="card-body">
          <h1 class="card-title">{{detailProduct.name}}</h1>
          <h3 class="card-title">{{detailProduct.brand}}</h3><br>
          <h6 class="card-text">{{detailProduct.description}}</h6><br>
          <span class="card-text">Created On</span><br>
          <span class="card-text">{{detailProduct.dateCreated}}</span><br>
          <span class="card-text">Last Updated On</span><br>
          <span class="card-text">{{detailProduct.dateUpdated}}</span><br>
          <button (click)="editProduct = detailProduct; detailProduct = null"
            class="btn btn-outline-primary btn-sm">Edit
            Details
          </button><br>
          <button (click)="disableProduct(detailProduct); detailProduct = null" class="btn btn-danger btn-sm">Remove
          </button>
        </div>
      </div>

      <div class="col" *ngIf="detailProduct && !newReport">
        <!-- <h4>Latest Prices</h4> -->

        <button (click)="newReport = getNewReport(detailProduct)" class="btn btn-outline-primary btn-sm">
          Report a New Price
        </button><br>

        <button (click)="detailProduct = null" type="button" class="btn btn-outline-primary btn-sm">Back</button>

        <div class="card report-card" *ngFor="let report of detailProduct.reports">
          <div class="card-body" *ngIf="report.store">
            <span><b>{{detailProduct.name}}</b></span><br>
            <span><b>${{report.price}}</b></span><br>
            <!-- <span>Seen At: <b>{{report.store | json}}</b></span><br> -->
            <span *ngIf="report.store.name">Seen At: <b>{{report.store.name}}</b></span><br>
            <span>On: <b>{{report.createdOn}}</b></span><br>
            <span>At: <b>{{report.createdOn}}</b></span><br>
            <!-- Product {{report.product.id}} -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *** Edit Product *** -->
  <div class="container d-flex justify-content-center" *ngIf="editProduct">
    <div class="row center">
      <div class="card col" style="width: 25rem;"><br>
        <img src="{{editProduct.image}}" class="rounded mx-auto d-block cardImage" alt="...">
        <form>
          <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input [(ngModel)]="editProduct.name" type="text" class="form-control" id="nameInput" name="name"
              aria-describedby="nameHelp" placeholder={{editProduct.name}}>
          </div>

          <div class="mb-3">
            <label for="brandInput" class="form-label">Brand</label>
            <input [(ngModel)]="editProduct.brand" type="text" class="form-control" id="brandInput" name="brand"
              aria-describedby="brandHelp" placeholder={{editProduct.brand}}>
          </div>

          <div class="mb-3">
            <label for="descriptionInput" class="form-label">Description</label>
            <textarea [(ngModel)]="editProduct.description" class="form-control" id="descriptionInput" rows="3"
              name="description" placeholder={{editProduct.description}}></textarea>
          </div>

          <div class="mb-3">
            <label for="imageInput" class="form-label">Image URL</label>
            <input [(ngModel)]="editProduct.image" type="text" class="form-control" id="imageInput" name="image"
              aria-describedby="imageHelp" placeholder={{editProduct.image}}>
          </div>

          <button (click)="updateProduct(editProduct); detailProduct = editProduct; editProduct = null" type="button"
            class="btn btn-outline-primary btn-sm">Submit
          </button>

          <button (click)="detailProduct = editProduct; editProduct = null;" type="button"
            class="btn btn-light btn-sm">Back
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- *** New Report *** -->
  <div class="container d-flex justify-content-center" *ngIf="newReport && detailProduct">
    <div class="row center">
      <div class="card col" style="width: 25rem;"><br>
        <form>
          <div class="mb-3">
            <label for="priceInput" class="form-label">New Price:</label>
            <input [(ngModel)]="newReport.price" type="number" class="form-control" id="priceInput" name="price"
              aria-describedby="priceHelp" placeholder="0.00">
          </div>
          <div class="mb-3">
            <label for="remarkInput" class="form-label">Remarks</label>
            <textarea [(ngModel)]="newReport.remark" class="form-control" id="remarkInput" rows="3" name="remark"
              placeholder="Let us know what you thought"></textarea>
          </div>

          <div class="mb-3">
            <label for="storeInput" class="form-label">Which Store?</label>
            <input [(ngModel)]="newReport.store.id" type="number" class="form-control" id="storeInput" name="store"
              aria-describedby="storeHelp" placeholder="1">
          </div>

          <div class="mb-3 form-check">
            <input [(ngModel)]="newReport.isInStock" type="checkbox" class="form-check-input" id="inStockCheck"
              name="isInStock">
            <label class="form-check-label" for="inStockCheck">Was it in Stock?</label>
          </div>

          <button (click)="addReport(newReport); newReport = null" type="button"
            class="btn btn-outline-primary btn-sm">Submit
          </button><br><br>

          <button (click)="newReport = null" type="button" class="btn btn-outline-primary btn-sm">
            Back
          </button>
        </form>
      </div>
    </div>
  </div>

</main>
