main {
  background-color: rgb(200, 207, 236);
}

.card {
  margin-bottom: 3px;
  background-color: rgba(174, 138, 231, 0.255);
}

.thumbnail {
  border: 1px solid rgb(156, 156, 156);
  border-radius: 4px;
  padding: 5px;
  width: 75px;
}

.cardImage {
  width: 200px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
