main {
  background-color: rgb(205, 216, 255);
}

.card {
  margin-bottom: 5px;
  background-color: rgba(174, 138, 231, 0.255);
}

.report-card {
  margin-bottom: 5px;
  background-color: rgba(138, 149, 231, 0.255);
}

.comment-card {
  margin-bottom: 5px;
  background-color: rgba(138, 228, 231, 0.329);
}

.thumbnail {
  border: 1px solid rgb(156, 156, 156);
  border-radius: 4px;
  padding: 5px;
  width: 75px;
}

.cardImage {
  width: 200px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
