.card-1 .card-body {
  text-align: center;
  padding: 90px;
  padding-top: 55px;
  padding-bottom: 65px;
  border-radius: 50px !important;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: darkslategray;
  padding-left: 2px;
}

input:focus {
  border-color: rgb(16, 170, 170);
}

#banner {
  width: 100%;
  height: auto;
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }

  #petImage {
    width: 110%;
    height: auto;
    border: 5px !important;
    border-color: darkgray;
    border-radius: 20px;
  }

  .card {
    border: none;
    margin: 0;
    padding:0;
  }

  ul {
    list-style-type:none;
    padding: 0;
    }


